<html>
  <head>
    <title>基于深度学习的电梯内危险品检测系统</title>
    <script src="../static/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">
      $(function () {
      setInterval(function () {
      $("#d2").load(location.href + " #d2>*",  "");//注意后面DIV的ID前面的空格跟 id 后的>*，很重要！
      }, 2000);//8秒自动刷新
      })
      </script>
    <link rel="stylesheet" href='../static/style.css'/>
  </head>
  <body>    
    <div id = "title"><h1>基于深度学习的电梯场景下危险品检测与预警系统<h1></div>
    <div id = "d1"><img src="{{ url_for('video_feed') }}" width="100%"></div>
    <div id = "d2">
      <h2>电梯状态：{{ result }}! </h2>
    </div> 
    <hr>
  </body>
</html>
